.profile {
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.profile__images {
  position: relative;
}

.back {
  max-width: 100%;
  border-radius: 8px 8px 0px 0px / 8px 8px 0px 0px;
}

.profile__avatar {
  position: absolute;
  left: 37.5%;
  top: 72%;
}

.avatar {
  border-radius: 58px;
  border: 4px solid #ffffff;
}
/* .profile .profile__avatar {
  position: absolute;
  top: 108%;
  left: 38%;
} */

/* .avatar {
  border-radius: 225px;
} */

.profile .profile__post {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 70px;
}

.post__name {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}

.post__status {
  font-size: 17px;
  opacity: 0.6;
}

.profile .profile__act {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0% 10%;
  margin-bottom: 30px;
}

.act__follow-btn {
  background-color: #6b75ff;
  width: 170px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
}

.follow {
  font-weight: 600;
  font-size: 14px;
  color: #ffffff;
}

.act__message-btn {
  background-color: #eaecff;
  width: 170px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
}

.message {
  font-weight: 600;
  font-size: 14px;
  color: #6b75ff;
}
