@import "reset.css";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #e3e3ee;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-family: "Open sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.phone {
  width: 100%;
  height: 100%;
  background-color: #f7f8fa;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-shadow: 15px 15px 30px #a0a0a0, -2px -2px 10px #a0a0a0 inset;
}

.phone .phone__inside {
  width: 100%;
  height: 100%;
  background-color: #f8f8f8;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.phone__inside .title {
  margin-top: 30px;
  margin-bottom: 60px;
}

.title .title__title {
  font-size: 20px;
  font-weight: 700;
}

.phone__inside .rogin {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rogin .rogin__in {
  width: 100%;
  height: 50px;
  margin: 15px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #f0f0f0;
}

input::placeholder {
  opacity: 0.6;
  font-size: 14px;
}

.rogin .rogin__forgot {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 15px;
}

.redword {
  font-size: 14px;
  font-weight: 600;
  color: #e2283e;
  cursor: pointer;
}

.rogin .rogin__remember {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 60px;
}

.rogin__remember input[type="checkbox"] {
  display: none;
}

.rogin__remember input[type="checkbox"] + label {
  display: inline-block;
  width: 14px;
  height: 14px;
  background-color: #f8f8f8;
  cursor: pointer;
  border: 1px solid grey;
}

.rogin__remember input[type="checkbox"]:checked + label {
  background: url(checkbox.jpeg) no-repeat center / 14px 14px;
}

.greyword {
  opacity: 0.7;
  margin-left: 5px;
  margin-right: 8px;
  font-size: 14px;
}

.rogin .rogin__btn {
  width: 100%;
  background-color: #e2283e;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}

.btn {
  height: 50px;
  border-radius: 25px 25px;
  cursor: pointer;
}

.whiteword {
  font-size: 14px;
  color: white;
}

.phone__inside .othersignin {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.othersignin .othersignin__or {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 60px;
}

.blackword {
  font-size: 14px;
  font-weight: 700;
}

.othersignin .othersignin__btns {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.othersignin__btns .btns__facebook {
  width: 47%;
  background-color: #475a95;
  display: flex;
  justify-content: center;
  align-items: center;
}

.othersignin__btns .btns__twitter {
  width: 47%;
  background-color: #5da1f2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.phone__inside .service {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 90px;
}

.service .service__account {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 11px;
}

.service .service__forgot {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}
