.header {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.header .header__icon {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 200px;
}

.header .header__icon i {
  font-size: 28px;
  cursor: pointer;
}
