@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600");
@import "reset.css";

* {
  box-sizing: border-box;
}
body {
  background-color: #2799fa;
  display: flex;
  justify-content: center;
  font-family: "Open sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

ul {
  list-style-type: none;
}

.screen {
  width: 450px;
  height: 900px;
  background: white;
  padding: 20px;
  overflow: hidden;
  margin: 20px;
  position: relative;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.3) 15px 15px 16px -8px;
}

.screen::after {
  width: 100%;
  height: 100%;
  background-image: url("../images/batman_bruce_wayne_unmasked.jpg");
  background-size: cover;
  opacity: 0.1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.status-bar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  top: 10px;
  font-weight: 600;
  margin-bottom: 30px;
}

.header {
  text-align: center;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
}

.header i {
  opacity: 0.3;
}

.header h1 {
  margin: 0;
  font-size: 18px;
  opacity: 0.6;
}

.profile {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 180px;
}

.profile .profile__profile {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile .profile__image {
  width: 110px;
  height: 110px;
  border-radius: 55px;
  background-image: url("../images/batman_bruce_wayne_unmasked.jpg");
  background-size: cover;
  margin-bottom: 10px;
}

.profile__profile .profile__name {
  color: #2799fa;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 600;
  margin: 25px 0px;
}

.profile__profile .profile__residence {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  opacity: 0.6;
  margin-bottom: 50px;
}

.profile .profile__btn {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.profile__btn .btn__follow {
  width: 200px;
  height: 65px;
  background-color: white;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 23px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 15px 16px -8px;
}

.profile__btn .btn__message {
  width: 200px;
  height: 65px;
  background-color: #2799fa;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 23px;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 15px 16px -8px;
}

.profile .profile__status {
  width: 100%;
}

.profile__status .status__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.status__list .list__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list__item .list__item-number,
.list__item .list__item-title {
  font-size: 20px;
  opacity: 0.6;
  margin-bottom: 8px;
}

.nav {
  position: absolute;
  width: 100%;
  right: 0px;
  bottom: 0px;
  padding: 20px;
}

.nav .nav__icons {
  display: flex;
  justify-content: space-around;
  font-size: 25px;
  opacity: 0.3;
}

.nav__icons .nav__icon:nth-child(1) {
  color: #2799fa;
}
